{% extends "base.html" %}
{% block title %}Login | Bhuvi Fashions{% endblock %}
{% block content %}
<div class="login-box user-login"><div class="account-mark">BF</div><h1>Welcome Back</h1>
<p>Login to your Bhuvi Fashions account.</p>
<form method="post"><input name="email" type="email" placeholder="Email Address" required>
<input name="password" type="password" placeholder="Password" required><button class="btn">LOGIN</button></form>
<p class="login-bottom">New customer? <a href="{{ url_for('register') }}">Create an account</a></p></div>
{% endblock %}
